@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600;700&family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Lexend+Deca&family=Outfit&family=Poppins&family=Roboto:wght@100;300;400;500;700&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
}
.container {
    width: 100%; 
    padding: 0.3125rem 0.875rem;
}
.top-pattern {
    margin-top: -1.875rem;
}
.bottom-pattern svg {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 7.5rem;
}
.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 8.125rem;
    width: 80%;
    margin: auto;
} 
.content .sub-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.content .sub-content .column-1 {
    margin-right: 6.25rem;
}
.content .sub-content .column-1 h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1.25rem; 
    color: hsl(300, 43%, 22%);
}
.content .sub-content .column-1 p {
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
.content .column-2 {
    margin-top: 1.25rem;
    margin-left: 4.375rem; 
}
.content .column-2 .col-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0.9375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}
.column-2 .col-item span {
    padding-right: 1.25rem; 
    padding-left: 0.625rem;
}
.column-2 .col-item span svg {
    margin-right: 0.625rem;
}
.column-2 .col-item strong {
    color: hsl(300, 43%, 22%);
}
.col-item-1 {
    margin-right: 6.25rem;  
}
.col-item-2 {
    margin-right: 3.125rem;
    margin-left: 3.125rem;
}
.col-item-3 {
    margin-left: 6.25rem;
}

.content .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3.125rem;
    gap: 1.5625rem;
}
.content .grid-section .grid-item {
    padding: 1.875rem 1.5625rem;
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.625rem; 
}
.content .grid-section .item-2 {
    position: relative;
    top: 0.625rem;
}
.content .grid-section .item-3 {
    position: relative;
    top: 1.25rem; 
}
.grid-section .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.25rem; 
}
.grid-section .title .flex-img {
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    margin-right: 0.9375rem;
}
.grid-section .title p {
    line-height: 1.0625rem; 
}

.grid-section .title p strong {
    font-size: 0.9375rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}
.grid-section .title p span {
    font-size: 0.9375rem;
    color: hsl(333, 80%, 67%);
}
.grid-section .grid-item .details {
    color: hsl(0, 0%, 100%);
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 2.5rem;  
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100%;
    }
    .content {
        width: 87%;
    }
    .content .sub-content {
        grid-template-columns: 3fr 4fr;
        gap: 1.25rem;   
    }
    .content .column-2 {
        margin-left: 0;
        margin-top: 0;
    }
    .content .sub-content .column-1 {
        margin-right: 0;
    }
    .content .sub-content .column-1 h2 {
        line-height: 1.875rem; 
    }
    .column-2 .col-item span {
        padding-right: 0;
        padding-left: 0;
    }
    .column-2 .col-item span svg {
        margin-right: 0.1875rem;
    }
    .column-2 .col-item strong {
        padding-left: 0.4375rem; 
    }
    .col-item-1 {
        margin-right: 0; 
    }
    .col-item-2 {
        margin-right: 0;
        margin-left: 0;
    }
    .col-item-3 {
        margin-left: 0;
    }
    .content .grid-section .grid-item {
        padding: 1.5625rem;
    }
}

/* mobile devices */
@media screen and (min-width: 250px) and (max-width: 767px) {
    .container {
        width: 100%;
        overflow: hidden;
    }
    .top-pattern {
        height: 11.25rem;
    }
    .content {
        width: 88%;
        top: 5.625rem; 
        text-align: center;
    }
    .content .sub-content {
        grid-template-columns: 1fr;
        gap: 1.25rem;    
    }
    .content .sub-content .column-1 {
        margin-right: 0;
    }
    .content .sub-content .column-1 h2 {
        font-size: 2.1875rem;  
        line-height: 1.875rem;
    }
    .content .sub-content .column-1 p {
        font-size: 0.9375rem;
        line-height: 1.25rem;
    }
    .sub-content .column-2 {
        margin-left: 0;
        margin-top: 0.625rem; 
    }
    .content .column-2 .col-item {
        flex-direction: column;
        margin-bottom: 0.9375rem; 
    } 
    .column-2 .col-item span {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0.1875rem; 
    }
    .column-2 .col-item span svg {
        margin-right: 0.1875rem;
    }
    .column-2 .col-item strong {
        margin-top: 0.3125rem;
    }
    .col-item-1 {
        margin-right: 0; 
    }
    .col-item-2 {
        margin-right: 0;
        margin-left: 0;
    }
    .col-item-3 {
        margin-left: 0;
    }
    .content .grid-section {
        grid-template-columns: 5fr;
        margin-top: 1.25rem;
        gap: 0.3125rem; 
    }
    .content .grid-section .grid-item {
        padding: 1.5625rem; 
        text-align: left;  
    }   
    .attribution {
        margin-bottom: 1.25rem; 
      }
}